body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: salmon;
    align-items: center;
}

.img-container {
    text-align: center;
}

.img-container img {
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0 10px 5px rgba(0, 0, 7, 0.3);
    background-color: greenyellow;
}

.btn {
    background-color: gray;
    border: none;
    padding: 10px 15px;
    margin: 10px;
    color: white;
    border-radius: 6px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}
